.playlists-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.playlist-list-item:hover .playlist-overlay {
  opacity: 1;
}

.playlist-overlay {
  opacity: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.502) 0%,
    transparent 100%
  );
  background-size: 80px;
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.playlist-description-overlay {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    transparent 100%
  );
  position: absolute;
  inset: auto 0 0 0;
  height: 40px;
}

.playlist-info-layout {
  display: grid;
  grid-template-areas: "image info" "image info";
  grid-template-columns: 264px 1fr;
  column-gap: min(2rem, 4vw);
  row-gap: 1rem;
}

.playlist-info-layout__info {
  grid-area: "info";
  max-width: 720px;
  white-space: normal;
}

.track-play-btn {
  opacity: 0;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.track-image-container:hover .track-play-btn {
  opacity: 1;
}

.playlist-description-btn {
  cursor: pointer;
}

@media (max-width: 48em) {
  .playlist-info-layout {
    grid-template-areas: "image image" "info info";
    grid-template-columns: 264px 1fr;
  }

  .playlist-info-layout > img {
    margin-inline: auto;
  }

  .playlist-info-layout__info {
    grid-column: span 2;
  }
}
